.doido {
    background-color: blue;
    font-size: 2em;
    color: #fafafa;
    padding: 10px 10px 10px 10px;
}

.lista {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    color: blueviolet;
}

.elementoLista {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 300px;
    margin-right: 300px;
    display:flex;
    justify-content: center;
    color: purple;
    list-style-type: none;
    background-color: crimson;
    font-size: 2em;
}

.andando {
    margin-top: 50px;
    margin-bottom: 40px;
    background-color: aqua;
    color: green;
    font-size: 3em;
}

.andando2 {
    margin-top: 50px;
    margin-bottom: 40px;
    display:flex;
    justify-content: center;
    transition: 3s;
    color: yellow;
    font-size: 5em;
    background-color: violet;
}
body {
    background-image: url(index.jpeg);
}
